receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 5s
    send_batch_size: 1024

  resourcedetection:
    detectors: [system]
    override: true

exporters:
  debug:
    verbosity: basic

  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true

  otlp/splunk:
    endpoint: ingest.sg0.signalfx.com:443
    headers:
      X-SF-TOKEN: "LFpIZu-TGRc76mCZozr8zg"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [resourcedetection, batch]
      exporters: [debug, otlp/jaeger, otlp/splunk]
